* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgb(2, 0, 36);
  background: linear-gradient(248deg, indigo 0%, navy 35%, blue 100%);
  margin-bottom: 20px;
}
header h1 {
  padding: 10px;
  font-size: 40px;
  color: white;
}

.search-btn-style {
  margin: 10px;
}

#recent {
  margin: 10px;
}

.divrow {
  width: 90vw;
}

.card-head-back {
  background-color: skyblue;
}

.icon-image {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.five-day-header {
  color: black;
  margin-top: 10px;
}

.forecast-head {
  font-size: 15px;
}

.city-btn {
  width: 80%;
  border-radius: 5px;
  margin-left: 10px;
}

#search-header {
  font-size: 25px;
}

#city-list {
  border-top: 2px solid white;
  margin-top: 10px;
}

#search-button,
.city-btn {
  margin-top: 10px;
  background-color: indianred;
}

#low {
  background: green;
  border-radius: 3px;
}

#moderate {
  background: yellow;
  border-radius: 3px;
}

#high {
  background: orange;
  border-radius: 3px;
}

#veryHigh {
  background: red;
  border-radius: 3px;
}

#extreme {
  background: indigo;
  border-radius: 3px;
}
